@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(/img/Background1.svg);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.modal {
  border: 1px solid black;
  width: 700px;
  height: 470px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal i {
  position: absolute;
  right: 16px;
  top: 16px;
}
.modal .modal-button {
  width: 200px;
  height: 60px;
  background: #FFD76E;
  border-radius: 10px;
  border: 1px solid #FFD76E;
  margin-top: 23px;
  margin-left: 33%;
  font-size: 24px;
}
.modal h6 {
  width: 602px;
  height: 39px;
  font-family: "Inter";
  font-size: 32px;
  margin-top: 30px;
  margin-left: 52px;
}
.modal p {
  font-size: 24px;
  font-family: "Inter";
  margin-left: 48px;
  margin-top: 16px;
}
.modal input {
  width: 600px;
  height: 50px;
  border: 1px solid rgba(140, 186, 255, 0.27);
  background: rgba(140, 186, 255, 0.27);
  border-radius: 10px;
  margin-left: 48px;
  margin-top: 4px;
}

.modal2 {
  border: 1px solid black;
  width: 700px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal2 i {
  position: absolute;
  left: 670px;
  right: 16px;
  top: 16px;
  color: black;
  font-size: 24px;
}
.modal2 .modal-button {
  width: 200px;
  height: 60px;
  background: #FFD76E;
  border-radius: 10px;
  border: 1px solid #FFD76E;
  margin-top: 23px;
  margin-left: 33%;
  font-size: 24px;
}
.modal2 h6 {
  width: 602px;
  height: 39px;
  font-family: "Inter";
  font-size: 32px;
  padding-top: 16px;
  margin-left: 49px;
}
.modal2 p {
  font-size: 24px;
  font-family: "Inter";
  margin-left: 50px;
  padding-top: 40px;
}
.modal2 input {
  width: 600px;
  height: 50px;
  border: 1px solid rgba(140, 186, 255, 0.27);
  background: rgba(140, 186, 255, 0.27);
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 4px;
}

.modal3 {
  width: 837px;
  height: 577px;
  border: 1px solid black;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  position: relative;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal3 i {
  position: absolute;
  right: 16px;
  top: 16px;
  color: black;
  font-size: 24px;
}
.modal3 .modal-img {
  width: 422px;
  height: 512px;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.modal3 h3 {
  font-family: "Inter";
  font-size: 30px;
  margin-left: 43px;
  margin-right: 40px;
  margin-top: 40px;
  height: 39px;
  width: 292px;
  color: #131C6A;
}
.modal3 p {
  font-family: "Inter";
  color: #000000;
  font-size: 24px;
  width: 300px;
  height: 252px;
  margin-bottom: 174px;
  margin-top: 72px;
  margin-left: 38px;
}

header {
  background-image: url(../img/Background1.png);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  height: 72px;
  background-color: black;
}
nav .first {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 690px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  color: #FFFFFF;
}
nav .second {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 620px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  color: #FFFFFF;
}
nav .third {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 550px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  color: #FFFFFF;
}
nav .fourth {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 420px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  color: #FFFFFF;
}
nav .fifth {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 310px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  color: #FFFFFF;
}
nav .sixth {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 200px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  color: #FFFFFF;
}

h1 {
  font-family: "Inter";
  color: #FFFFFF;
  font-size: 120px;
  width: 982px;
  height: 155px;
  padding-top: 48px;
}

h5 {
  font-family: "Inter";
  color: #FFFFFF;
  font-size: 64px;
  width: 300px;
  height: 77px;
  margin-top: 8px;
}

.text {
  font-family: "Inter";
  color: #FFFFFF;
  width: 459px;
  height: 150px;
  margin-top: 30px;
  font-size: 24px;
}

.button {
  width: 200px;
  height: 60px;
  margin-top: 48px;
  border: 1px solid #FFD76E;
  background: #FFD76E;
  border-radius: 10px;
  font-size: 24px;
}

.group {
  margin-left: 142px;
}

.get {
  margin-left: 676px;
  margin-top: 84px;
  color: #FFFFFF;
  font-family: "Inter";
}

.V {
  margin-top: 10px;
  margin-left: 710px;
  color: #FFFFFF;
}

section {
  background: #050404;
  height: 1300px;
}

h2 {
  width: 609px;
  height: 116px;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FFD76E;
  padding-top: 40px;
  margin-left: 438px;
}

.section-p {
  width: 892px;
  height: 80px;
  color: #FFFFFF;
  margin-top: 40px;
  margin-left: 297px;
}
.section-p p {
  font-family: "Inter";
  font-size: 24px;
  color: #FFFFFF;
}

.square1 {
  border: 2px solid #FFD76E;
  height: 247px;
  width: 369px;
  position: absolute;
  left: -352px;
  top: 918px;
  transform: matrix(0.99, -0.15, 0.17, 0.98, 0, 0);
}

.square2 {
  border: 2px solid #FFFFFF;
  height: 179px;
  width: 340px;
  position: absolute;
  left: -190px;
  top: 1013px;
  transform: matrix(0.99, -0.15, 0.17, 0.98, 0, 0);
}

.square3 {
  border: 2px solid #FFFFFF;
  height: 239px;
  width: 460px;
  position: absolute;
  left: 540px;
  top: 1700px;
}

.square4 {
  border: 2px solid #FFD76E;
  width: 334px;
  height: 493px;
  position: absolute;
  left: 372px;
  top: 1400px;
}

.p {
  color: #FFD76E;
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter";
  position: absolute;
  top: 1550px;
  left: 880px;
}

.Oleksiy {
  color: #FFFFFF;
  position: absolute;
  left: 556px;
  top: 1430px;
  text-align: center;
  font-size: 24px;
  font-family: "Inter";
}
.Oleksiy p {
  padding-top: 10px;
}

.Taras {
  color: #FFFFFF;
  position: absolute;
  left: 318px;
  top: 1700px;
  text-align: center;
  font-size: 24px;
  font-family: "Inter";
}
.Taras p {
  padding-top: 10px;
}

.Teodora {
  color: #FFFFFF;
  position: absolute;
  left: 880px;
  top: 1610px;
  text-align: center;
  font-size: 24px;
  font-family: "Inter";
}
.Teodora p {
  padding-top: 10px;
}

.Djesika {
  color: #FFFFFF;
  position: absolute;
  left: 645px;
  top: 1700px;
  text-align: center;
  font-size: 24px;
  font-family: "Inter";
}
.Djesika p {
  padding-top: 10px;
}

.section-2 {
  background-image: url(../img/Background2.png);
  height: 297px;
  width: 1740px;
  position: absolute;
  top: 2100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-2 h3 {
  padding-left: 619px;
  padding-top: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.section-2 p {
  width: 351px;
  height: 92px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 600px;
  padding-top: 25px;
}